.panel-heading,
.panel,
.navbar-toggle,
.alert,
.form-control,
.input-group-addon,
.list-group-item:last-child,
.list-group-item:first-child,
.nav-tabs > li > a,
.navbar-nav > li > .dropdown-menu,
.dropdown-menu,
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child),
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.tooltip div {
  border-radius: 0; }

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent; }

*:focus {
  outline: 0; }

body {
  font-family: "robotoregular", Helvetica, Arial, sans-serif; }

h1, .h1 {
  font-size: 36px; }

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

a {
  color: #4781cc; }

a:hover {
  color: #6996d6; }

body.welcome {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  display: table;
  font-weight: 100;
  background: #4781cc;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyMzI1MmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTExMjE0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, #4781cc 0%, #6996d6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #4781cc), color-stop(100%, #6996d6));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #4781cc 0%, #6996d6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #4781cc 0%, #6996d6 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #4781cc 0%, #6996d6 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #4781cc 0%, #6996d6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue', endColorstr='$blue-hover',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */ }
  body.welcome .container {
    text-align: center;
    display: table-cell;
    vertical-align: middle; }
  body.welcome .content {
    text-align: center;
    display: inline-block; }
  body.welcome .title {
    font-size: 96px;
    margin-bottom: 20px;
    font-family: 'LatoThin'; }
  body.welcome .quote {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'LatoThin'; }

.btn {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  text-transform: uppercase;
  transition: background-color 0.2s ease, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none !important;
  margin: 5px 0;
  position: relative; }
  .btn .fa {
    font-size: 18px;
    width: 20px; }

.btn:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }

.btn-default {
  background-color: #F8F8F8;
  border-color: #D3D3D3; }

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-color: #F0F0F0;
  border-color: #C6C6C6; }

.btn-danger {
  color: #FFF;
  background-color: #f44336;
  border-color: #E53935; }

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  color: #FFF;
  background-color: #EF5350;
  border-color: #C62828; }

.btn-success {
  color: #FFF;
  background-color: #4caf50;
  border-color: #43A047; }

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  color: #FFF;
  background-color: #66BB6A;
  border-color: #2E7D32; }

.btn-warning {
  color: #FFF;
  background-color: #FF9800;
  border-color: #FB8C00; }

.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
  background-color: #FFA726;
  border-color: #EF6C00; }

.btn.disabled {
  pointer-events: stroke;
  color: #CCC; }

.btn.disabled:hover {
  box-shadow: none; }

.input-group-addon.btn.btn-default {
  background-color: #F8F8F8;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  top: -2px;
  position: relative; }
  .input-group-addon.btn.btn-default span.fa {
    font-size: 1em;
    width: 14px; }

.btn:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); }

.btn:active:not(.btn-link):not(.btn-flat):not(.btn-fab) {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn.btn-flat:not(.btn-link),
.btn-default.btn-flat:not(.btn-link) {
  color: rgba(0, 0, 0, 0.84); }

.btn-link,
.btn:not([class*="btn-"]),
.btn-default {
  color: rgba(0, 0, 0, 0.84); }

.btn-link:hover,
.btn:not([class*="btn-"]):hover,
.btn-default:hover {
  color: rgba(0, 0, 0, 0.84); }

/*
.btn:not([class*="btn-"]):hover,
.btn-default:hover,
.btn-flat:not(.btn-link):hover,
.btn:not([class*="btn-"]).active,
.btn-default.active,
.btn-flat:not(.btn-link).active {
  background-color: rgba(255, 255, 255, 0.5);
}*/
.open > .dropdown-toggle.btn,
.open > .dropdown-toggle.btn-default {
  background-color: transparent; }

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0; }

.btn-group,
.btn-group-vertical {
  position: relative;
  border-radius: 2px;
  margin: 10px 1px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }

.btn-group:active:not(.btn-link),
.btn-group-vertical:active:not(.btn-link) {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-group.open .dropdown-toggle,
.btn-group-vertical.open .dropdown-toggle {
  box-shadow: none; }

.btn-group.btn-group-raised,
.btn-group-vertical.btn-group-raised {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }

.btn-default.disabled:hover {
  color: #CCC; }

.form-horizontal .checkbox {
  padding-top: 20px; }

.checkbox {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .checkbox label {
    cursor: pointer;
    padding-left: 0; }
  .checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none; }
  .checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px; }
    .checkbox .checkbox-material .check {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 2px solid;
      border-radius: 2px;
      overflow: hidden;
      z-index: 1; }
    .checkbox .checkbox-material .check:before {
      position: absolute;
      content: "";
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      display: block;
      margin-top: -4px;
      margin-left: 6px;
      width: 0;
      height: 0;
      box-shadow: inset 0 0 0 0;
      -webkit-animation: checkbox-off 0.3s forwards;
      animation: checkbox-off 0.3s forwards; }
  .checkbox .checkbox-material:before {
    display: block;
    position: absolute;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.84);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    -webkit-transform: scale3d(2.3, 2.3, 1);
    transform: scale3d(2.3, 2.3, 1); }
  .checkbox input[type=checkbox]:focus + .checkbox-material .check:after {
    opacity: 0.2; }
  .checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    -webkit-animation: checkbox-on 0.3s forwards;
    animation: checkbox-on 0.3s forwards; }
  .checkbox input[type=checkbox]:not(:checked) + .checkbox-material:before {
    -webkit-animation: rippleOff 500ms;
    animation: rippleOff 500ms; }
  .checkbox input[type=checkbox]:checked + .checkbox-material:before {
    -webkit-animation: rippleOn 500ms;
    animation: rippleOn 500ms; }
  .checkbox input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
    -webkit-animation: rippleOff 500ms forwards;
    animation: rippleOff 500ms forwards; }
  .checkbox input[type=checkbox]:checked + .checkbox-material .check:after {
    -webkit-animation: rippleOn 500ms forwards;
    animation: rippleOn 500ms forwards; }
  .checkbox input[type=checkbox][disabled]:not(:checked) ~ .checkbox-material .check:before,
  .checkbox input[type=checkbox][disabled] + .circle {
    opacity: 0.5; }
  .checkbox input[type=checkbox][disabled] + .checkbox-material .check:after {
    background-color: rgba(0, 0, 0, 0.84);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.checkbox input[type=checkbox]:checked + .checkbox-material .check:after,
.checkbox-default input[type=checkbox]:checked + .checkbox-material .check:after {
  background-color: #4781cc; }

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before,
.checkbox-default input[type=checkbox]:checked + .checkbox-material .check:before {
  color: #4781cc; }

.checkbox input[type=checkbox]:checked + .checkbox-material .check,
.checkbox-default input[type=checkbox]:checked + .checkbox-material .check {
  color: #4781cc; }

@-webkit-keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px; }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px; }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px; } }
@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px; }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px; }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px; } }
@-webkit-keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset; }
  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset; }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset; }
  51% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset; }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset; } }
@keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset; }
  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset; }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset; }
  51% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset; }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset; } }
body {
  background-color: #EEE; }

main {
  background-color: #F9F9F9;
  padding-bottom: 40px; }

section {
  margin: 20px 0;
  background-color: #FFF;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #D3D3D3; }

section.padding {
  padding: 5px 10px; }

section > .panel {
  border: none;
  overflow: hidden; }

.panel {
  margin-bottom: 0; }
  .panel .list-group-item:last-child {
    margin-bottom: -1px; }

section > .tab-content > .panel, section > .panel {
  border: none; }

.panel-primary {
  border-color: #DDD; }

.panel-primary > .panel-heading {
  background-color: #4781cc; }

.panel-action-bar {
  position: relative;
  top: -19px; }
  .panel-action-bar a {
    color: #FFFFFF; }
    .panel-action-bar a .fa {
      font-size: 1.5em;
      margin-left: 8px; }
  .panel-action-bar .collapsed .fa-compress:before {
    content: "\f065"; }

.fagmodul {
  border-radius: 0; }

.fagmodul > div {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0; }

fieldset[disabled] .form-control,
.form-control,
fieldset[disabled] .form-control:focus,
.form-control:focus,
fieldset[disabled] .form-control.focus,
.form-control.focus {
  padding: 0;
  float: none;
  border: 0;
  box-shadow: none;
  border-radius: 0; }

fieldset[disabled] .form-control:disabled,
.form-control:disabled,
fieldset[disabled] .form-control:focus:disabled,
.form-control:focus:disabled,
fieldset[disabled] .form-control.focus:disabled,
.form-control.focus:disabled {
  border-style: dashed;
  border-bottom: 1px solid #757575; }

fieldset[disabled] textarea.form-control,
textarea.form-control {
  height: 40px; }

select[multiple].form-control,
select[multiple].form-control:focus,
select[multiple].form-control.focus {
  height: 85px; }

.form-inline {
  display: inline-block; }

.form-control {
  border: 0;
  background-image: linear-gradient(#4781cc, #4781cc), linear-gradient(#d2d2d2, #d2d2d2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  background-color: transparent;
  transition: inherit; }

.form-control::-webkit-input-placeholder {
  color: #bdbdbd; }

.form-control::-moz-placeholder {
  color: #bdbdbd; }

.form-control:-ms-input-placeholder {
  color: #bdbdbd; }

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: transparent;
  background-color: transparent; }

fieldset[disabled] .form-control:disabled,
.form-control-wrapper .form-control:disabled,
.form-control:disabled,
fieldset[disabled] .form-control:focus:disabled,
.form-control-wrapper .form-control:focus:disabled,
.form-control:focus:disabled,
fieldset[disabled] .form-control.focus:disabled,
.form-control-wrapper .form-control.focus:disabled,
.form-control.focus:disabled {
  border: 0; }

.form-control:focus,
.form-control.focus {
  outline: none;
  background-image: linear-gradient(#4781cc, #4781cc), linear-gradient(#d2d2d2, #d2d2d2);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.3s; }

.form-control-wrapper {
  position: relative; }
  .form-control-wrapper .floating-label {
    font-size: 14px;
    color: #bdbdbd;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 5px;
    transition: 0.3s ease all;
    opacity: 0; }
  .form-control-wrapper .input-sm + .floating-label {
    font-size: 12px;
    top: 7px; }
  .form-control-wrapper .form-control:focus ~ .floating-label,
  .form-control-wrapper .form-control:not(.empty) ~ .floating-label {
    top: -9.8px;
    font-size: 9.8px; }
  .form-control-wrapper .form-control.input-sm:focus ~ .floating-label,
  .form-control-wrapper .form-control.input-sm:not(.empty) ~ .floating-label {
    top: -8.4px;
    font-size: 8.4px; }
  .form-control-wrapper .input-lg + .floating-label {
    font-size: 18px;
    top: 10px; }
  .form-control-wrapper .form-control.input-lg:focus ~ .floating-label,
  .form-control-wrapper .form-control.input-lg:not(.empty) ~ .floating-label {
    top: -12.6px;
    font-size: 12.6px; }
  .form-control-wrapper .form-control:focus ~ .floating-label {
    color: #4781cc; }

.form-control:focus ~ .form-control-wrapper .floating-label,
.form-control:not(.empty) ~ .form-control-wrapper .floating-label {
  opacity: 1; }

.form-control-wrapper .form-control:not(.empty):invalid ~ .floating-label,
.form-control-wrapper .form-control.focus:invalid ~ .floating-label {
  color: #f44336; }

.form-control-wrapper .form-control:focus ~ .material-input:after,
.form-control-wrapper .form-control.focus ~ .material-input:after {
  background-color: #4781cc; }

.form-control-wrapper .form-control:invalid {
  background-image: linear-gradient(#f44336, #f44336), linear-gradient(#d2d2d2, #d2d2d2); }

.form-control-wrapper .form-control.empty ~ .floating-label {
  opacity: 1; }

textarea {
  resize: none; }

.form-control-wrapper textarea ~ .form-control-highlight {
  margin-top: -11px; }

.form-control-wrapper .hint {
  position: absolute;
  font-size: 80%;
  display: none; }

.form-control-wrapper .form-control:focus ~ .hint,
.form-control-wrapper .form-control.focus ~ .hint {
  display: block; }

.form-control-wrapper select ~ .material-input:after {
  display: none; }

.form-control-wrapper select {
  appearance: none; }

.form-group.has-warning .form-control {
  box-shadow: none; }

.form-group.has-warning .material-input:focus,
.form-group.has-warning .form-control:focus,
.form-group.has-warning .form-control.focus {
  background-image: linear-gradient(#FF9800, #FF9800), linear-gradient(#d2d2d2, #d2d2d2);
  box-shadow: none; }

.form-group.has-warning .control-label,
.form-group.has-warning input.form-control:focus ~ .floating-label {
  color: #FF9800; }

.form-group.has-error .form-control {
  box-shadow: none; }

.form-group.has-error .material-input:focus,
.form-group.has-error .form-control:focus,
.form-group.has-error .form-control.focus {
  background-image: linear-gradient(#f44336, #f44336), linear-gradient(#d2d2d2, #d2d2d2);
  box-shadow: none; }

.form-group.has-error .control-label,
.form-group.has-error input.form-control:focus ~ .floating-label {
  color: #f44336; }

.form-group.has-success .form-control {
  box-shadow: none; }

.form-group.has-success .material-input:focus,
.form-group.has-success .form-control:focus,
.form-group.has-success .form-control.focus {
  background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#d2d2d2, #d2d2d2);
  box-shadow: none; }

.form-group.has-success .control-label,
.form-group.has-success input.form-control:focus ~ .floating-label {
  color: #4caf50; }

.form-group.has-info .form-control {
  box-shadow: none; }

.form-group.has-info .material-input:focus,
.form-group.has-info .form-control:focus,
.form-group.has-info .form-control.focus {
  background-image: linear-gradient(#03a9f4, #03a9f4), linear-gradient(#d2d2d2, #d2d2d2);
  box-shadow: none; }

.form-group.has-info .control-label,
.form-group.has-info input.form-control:focus ~ .floating-label {
  color: #03a9f4; }

.form-group .form-control:focus,
.form-group-default .form-control:focus {
  background-image: linear-gradient(#4781cc, #4781cc), linear-gradient(#d2d2d2, #d2d2d2); }

.form-group .form-control.focus,
.form-group-default .form-control.focus {
  background-image: linear-gradient(#4781cc, #4781cc), linear-gradient(#d2d2d2, #d2d2d2); }

label.focused {
  color: #4781cc; }

.input-group .input-group-addon {
  border: 0;
  background: transparent; }
.input-group .input-group-btn .btn {
  border-radius: 4px;
  margin: 0; }
.input-group .input-group-addon.focused {
  color: #4781cc; }

select.form-control {
  border: 0;
  box-shadow: none;
  border-radius: 0; }

select.form-control:focus,
select.form-control.focus {
  box-shadow: none;
  border-color: #757575; }

.input-group .form-control {
  -webkit-appearance: none; }

.row.list-group-item .form-group {
  margin-bottom: 5px; }

.pur-dropdown select {
  -moz-appearance: none; }

.pur-dropdown .input-group-addon:last-child {
  border: none;
  position: absolute;
  right: 18px;
  z-index: 0;
  top: 9px;
  width: 0;
  height: 0;
  padding: 0; }

.posteringVis span {
  color: #555; }

.navbar {
  margin-bottom: 0px;
  border: none;
  border-radius: 0;
  z-index: 500; }

body > nav {
  padding-top: 30px; }

.navbar-nav {
  margin: 0; }

.navbar-inverse {
  background-color: #4781cc;
  border-color: #4377c4; }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #4377c4; }
  .navbar-inverse .navbar-toggle {
    border-color: #4377c4;
    z-index: 4000; }
  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-brand {
    color: #FFF; }
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus,
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background-color: #6996d6; }
  .navbar-inverse .navbar-collapse.collapse.in ul:first-child, .navbar-inverse .navbar-collapse.collapsing ul:first-child {
    margin-top: 15px; }
  .navbar-inverse .navbar-collapse.collapse.in ul:last-child, .navbar-inverse .navbar-collapse.collapsing ul:last-child {
    margin-bottom: 15px; }

#navbar-submenu-wrapper {
  height: 50px;
  margin-bottom: 30px; }

#navbar-submenu {
  background-color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #D3D3D3;
  z-index: 300; }
  #navbar-submenu li a {
    color: #777; }
  #navbar-submenu li a:hover {
    background-color: #F0F0F0;
    color: #333; }

.navbar-brand {
  font-family: 'LatoThin', sans-serif;
  font-size: 23px;
  height: 47px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.004);
  text-rendering: optimizeLegibility; }

#navbar-submenu li > span {
  display: block;
  padding: 15px 15px 10px; }

#navbar-submenu.affix {
  z-index: 10;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

.nav-tabs {
  background: #F8F8F8;
  padding: 10px 0 0 10px; }

.nav-tabs > li > a {
  color: #4781cc;
  border: 0;
  margin: 0; }

.nav-tabs > li > a:hover {
  background-color: #F0F0F0;
  border: 0; }

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  font-weight: 500; }

.nav-tabs > li.disabled > a,
.nav-tabs > li.disabled > a:hover {
  color: rgba(255, 255, 255, 0.5); }

@media (max-width: 767px) {
  #submenu {
    display: block !important;
    visibility: visible !important;
    position: absolute;
    top: -1px; }

  #navbar-submenu .navbar-nav {
    float: left;
    margin: 0; }
  #navbar-submenu .collapse:before,
  #navbar-submenu .nav:before {
    content: none; }
  #navbar-submenu .navbar-toggle {
    display: none; }
  #navbar-submenu li {
    display: inline-block; }
    #navbar-submenu li a {
      display: inline-block;
      padding-top: 15px;
      padding-bottom: 15px; }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF; }

  .dropdown-menu > li > a {
    font-weight: 300; }

  .navbar-nav .open .dropdown-menu li:hover {
    background-color: #6996d6; }

  .open > .dropdown-menu {
    margin: 0; }

  .dropdown-menu > li > a {
    padding: 5px 20px; } }
@media (max-width: 675px) {
  #navbar-submenu li a {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 3px;
    border: 1px solid #D3D3D3;
    font-size: 1.3em; } }
.list-group .list-group-item {
  background-color: transparent;
  overflow: hidden;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #EEE; }
  .list-group .list-group-item .row-content {
    display: inline-block;
    width: calc(100% - 92px);
    min-height: 66px; }
    .list-group .list-group-item .row-content .action-secondary {
      position: absolute;
      right: 16px;
      top: 16px; }
      .list-group .list-group-item .row-content .action-secondary i {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.25);
        cursor: pointer; }
    .list-group .list-group-item .row-content .action-secondary ~ * {
      max-width: calc(100% - 30px); }
    .list-group .list-group-item .row-content .least-content {
      position: absolute;
      right: 16px;
      top: 0px;
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px; }
  .list-group .list-group-item .list-group-item.baseline {
    border-bottom: 1px solid #cecece; }
  .list-group .list-group-item .list-group-item.baseline:last-child {
    border-bottom: none; }
  .list-group .list-group-item .list-group-item-heading {
    color: rgba(0, 0, 0, 0.77);
    font-size: 20px;
    line-height: 29px; }
  .list-group .list-group-item .actions {
    border-left: 1px solid #EEE; }
.list-group .list-group-separator {
  clear: both;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px; }
.list-group .list-group-separator:before {
  content: "";
  width: calc(100% - 90px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: right; }

.postering.list-group {
  margin-bottom: 0; }

.postering.lagres {
  background-color: #FFF9C4; }

.postering.korrekt {
  background-color: #DCEDC8; }

.postering.feil {
  background-color: #fac9bb; }

.panel-heading .actions {
  border-left: 1px solid #4781cc; }

.panel.collapse .list-group {
  visibility: hidden; }

.panel.collapse.in .list-group {
  visibility: visible; }

@media (max-width: 992px) {
  .row.list-group-item .form-group {
    margin-bottom: 10px; } }
blockquote.bq-info {
  color: #4781cc;
  border: 1px solid #EEE;
  border-left: 5px solid #4781cc;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #F8F8F8; }

.fa {
  font-size: 16px; }

#navbar-submenu #ajax-success {
  display: none;
  padding: 14px 20px 5px 20px; }
  #navbar-submenu #ajax-success .ajax-success-text {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    color: #777; }
  #navbar-submenu #ajax-success .ajax-success-animation {
    background-size: 100%;
    width: 20px;
    height: 20px;
    padding: 0px;
    display: none; }

#navbar-submenu #ajax-success.saving .ajax-success-animation {
  display: inline-block; }
#navbar-submenu #ajax-success.saving .ajax-success-text {
  color: #4781cc; }

.progress-bar {
  background-color: #4caf50; }

footer {
  border-top: 1px solid #E7E7E7;
  padding-top: 20px;
  padding-bottom: 20px; }

.no-js #loader {
  display: none; }

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: .8;
  z-index: 400; }

.bilag .alert {
  display: none; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #4781cc;
  border-color: #4377c4; }

.pagination > li > a, .pagination > li > span {
  color: #333;
  background-color: #F8F8F8;
  border: 1px solid #D3D3D3; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background-color: #F0F0F0;
  border-color: #C6C6C6; }

.form-horizontal .radio {
  margin-bottom: 10px; }

.radio label {
  padding-left: 30px;
  position: relative; }
  .radio label span {
    display: block;
    position: absolute;
    left: 10px;
    top: 2px;
    transition-duration: 0.2s; }
  .radio label .circle {
    border: 2px solid #4781cc;
    height: 15px;
    width: 15px;
    border-radius: 100%; }
  .radio label .check {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #4781cc;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0); }
  .radio label .check:after {
    display: block;
    position: absolute;
    content: "";
    background-color: #4781cc;
    left: -18px;
    top: -18px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1);
    transform: scale3d(1.5, 1.5, 1); }

.radio label input[type=radio]:not(:checked) ~ .check:after {
  -webkit-animation: rippleOff 500ms;
  animation: rippleOff 500ms; }

.radio label input[type=radio]:checked ~ .check:after {
  -webkit-animation: rippleOn 500ms;
  animation: rippleOn 500ms; }

.radio input[type=radio]:checked ~ .check,
.radio-default input[type=radio]:checked ~ .check {
  background-color: #4781cc; }

.radio input[type=radio]:checked ~ .circle,
.radio-default input[type=radio]:checked ~ .circle {
  border-color: #4781cc; }

.radio input[type=radio][disabled] ~ .check,
.radio input[type=radio][disabled] ~ .circle {
  opacity: 0.5; }

.radio input[type=radio] {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden; }

.radio input[type=radio]:checked ~ .check {
  -webkit-transform: scale3d(0.55, 0.55, 1);
  transform: scale3d(0.55, 0.55, 1); }

.radio input[type=radio][disabled] ~ .circle {
  border-color: rgba(0, 0, 0, 0.84); }

.radio input[type=radio][disabled] ~ .check {
  background-color: rgba(0, 0, 0, 0.84); }

.radio .radio-bilagsformel span {
  display: inline-block;
  position: static; }

.bootstrap-datetimepicker-widget {
  list-style: none; }

.bootstrap-datetimepicker-widget.dropdown-menu {
  margin: 2px 0;
  padding: 4px;
  width: 19em; }

@media (min-width: 768px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em; } }
@media (min-width: 992px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em; } }
@media (min-width: 1200px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em; } }
.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
  content: '';
  display: inline-block;
  position: absolute; }

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px; }

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px; }

.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #cccccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px; }

.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px; }

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  left: auto;
  right: 6px; }

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  left: auto;
  right: 7px; }

.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0; }

.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0; }

.bootstrap-datetimepicker-widget a[data-action]:active {
  box-shadow: none; }

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0; }

.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px; }

.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Hours"; }

.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Minutes"; }

.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Hours"; }

.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Minutes"; }

.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Hours"; }

.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Minutes"; }

.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle AM/PM"; }

.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Clear the picker"; }

.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Set the date to today"; }

.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center; }

.bootstrap-datetimepicker-widget .picker-switch::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle Date and Time Screens"; }

.bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit; }

.bootstrap-datetimepicker-widget .picker-switch td span {
  line-height: 2.5;
  height: 2.5em;
  width: 100%; }

.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0; }

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 4px; }

.bootstrap-datetimepicker-widget table th {
  height: 20px;
  line-height: 20px;
  width: 20px; }

.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px; }

.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed; }

.bootstrap-datetimepicker-widget table th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Previous Month"; }

.bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Next Month"; }

.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer; }

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #F0F0F0; }

.bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  width: 54px; }

.bootstrap-datetimepicker-widget table td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #777777; }

.bootstrap-datetimepicker-widget table td.day {
  height: 20px;
  line-height: 20px;
  width: 20px; }

.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background: #F0F0F0;
  cursor: pointer; }

.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
  color: #777777; }

.bootstrap-datetimepicker-widget table td.today {
  position: relative; }

.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: 0 0 7px 7px solid transparent;
  border-bottom-color: #4377c4;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px; }

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #4781cc;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: #fff; }

.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed; }

.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px; }

.bootstrap-datetimepicker-widget table td span:hover {
  background: #F0F0F0; }

.bootstrap-datetimepicker-widget table td span.active {
  background-color: #4781cc;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.bootstrap-datetimepicker-widget table td span.old {
  color: #777777; }

.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed; }

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px; }

.input-group.date .input-group-addon {
  cursor: pointer; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative; }

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-handle {
  position: relative;
  z-index: 1;
  box-sizing: border-box; }

.noUi-stacking .noUi-handle {
  z-index: 10; }

.noUi-stacking + .noUi-origin {
  *z-index: -1; }

.noUi-state-tap .noUi-origin {
  transition: left 0.3s, top 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

.noUi-horizontal {
  height: 10px; }

.noUi-handle {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  left: -10px;
  top: -5px;
  cursor: ew-resize;
  border-radius: 100%;
  transition: all 0.2s ease-out;
  border: 1px solid; }

.noUi-vertical .noUi-handle {
  margin-left: 5px;
  cursor: ns-resize; }

.noUi-horizontal.noUi-extended {
  padding: 0 15px; }

.noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px; }

.noUi-background {
  height: 2px;
  margin: 20px 0; }

.noUi-origin {
  margin: 0;
  border-radius: 0;
  height: 2px;
  background: #c8c8c8; }

.noUi-origin[style^="left: 0"] .noUi-handle {
  background-color: #fff;
  border: 2px solid #c8c8c8; }

.noUi-origin[style^="left: 0"] .noUi-handle.noUi-active {
  border-width: 1px; }

.noUi-target {
  border-radius: 2px; }

.noUi-horizontal {
  height: 2px;
  margin: 15px 0; }

.noUi-vertical {
  height: 100%;
  width: 2px;
  margin: 0 15px;
  display: inline-block; }

.noUi-handle.noUi-active {
  -webkit-transform: scale3d(2.5, 2.5, 1);
  transform: scale3d(2.5, 2.5, 1); }

[disabled].noUi-slider {
  opacity: 0.5; }

[disabled] .noUi-handle {
  cursor: not-allowed; }

.withripple {
  position: relative; }

.ripple-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none; }

.ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  opacity: 0;
  pointer-events: none; }

.ripple.ripple-on {
  transition: opacity 0.15s ease-in 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  opacity: 0.1; }

.ripple.ripple-out {
  transition: opacity 0.1s linear 0s !important;
  opacity: 0; }

@-webkit-keyframes rippleOn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }
@-webkit-keyframes rippleOff {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }
@keyframes rippleOn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }
@keyframes rippleOff {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }
.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); }

.shadow-z-1-hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.shadow-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.shadow-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.shadow-z-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.shadow-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

/*# sourceMappingURL=main.css.map */
