
.btn:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.btn:active:not(.btn-link):not(.btn-flat):not(.btn-fab) {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn.btn-flat:not(.btn-link),
.btn-default.btn-flat:not(.btn-link) {
    color: rgba(0, 0, 0, 0.84);
}

.btn.btn-flat {
    background: none;
    box-shadow: none;
    font-weight: 500;
}

.btn.btn-flat:disabled {
    color: #a8a8a8 !important;
}

.btn.btn-sm {
    padding: 5px 20px;
}

.btn.btn-xs {
    padding: 4px 15px;
    font-size: 10px;
}

.btn-link,
.btn:not([class*="btn-"]),
.btn-default {
    color: rgba(0, 0, 0, 0.84);
}

.btn-link:hover,
.btn:not([class*="btn-"]):hover,
.btn-default:hover {
    color: rgba(0, 0, 0, 0.84);
}

.btn:not([class*="btn-"]):hover,
.btn-default:hover,
.btn-flat:not(.btn-link):hover,
.btn:not([class*="btn-"]).active,
.btn-default.active,
.btn-flat:not(.btn-link).active {
    background-color: rgba(255, 255, 255, 0.5);
}

.open > .dropdown-toggle.btn,
.open > .dropdown-toggle.btn-default {
    background-color: transparent;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-left: 0;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    border-radius: 2px;
    margin: 10px 1px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-group:active:not(.btn-link),
.btn-group-vertical:active:not(.btn-link) {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-group.open .dropdown-toggle,
.btn-group-vertical.open .dropdown-toggle {
    box-shadow: none;
}

.btn-group.btn-group-raised,
.btn-group-vertical.btn-group-raised {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-group.btn-group-raised:active:not(.btn-link),
.btn-group-vertical.btn-group-raised:active:not(.btn-link) {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-group .btn,
.btn-group-vertical .btn,
.btn-group .btn:active,
.btn-group-vertical .btn:active,
.btn-group .btn-group,
.btn-group-vertical .btn-group {
    box-shadow: none !important;
    margin: 0;
}

.form-horizontal .checkbox {
    padding-top: 20px;
}

.checkbox {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.checkbox label {
    cursor: pointer;
    padding-left: 0;
}

.checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
}

.checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px;
}

.checkbox .checkbox-material:before {
    display: block;
    position: absolute;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.84);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    -webkit-transform: scale3d(2.3, 2.3, 1);
    transform: scale3d(2.3, 2.3, 1);
}

.checkbox .checkbox-material .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
}

.checkbox .checkbox-material .check:before {
    position: absolute;
    content: "";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    margin-top: -4px;
    margin-left: 6px;
    width: 0;
    height: 0;
    box-shadow: inset 0 0 0 0;
    -webkit-animation: checkbox-off 0.3s forwards;
    animation: checkbox-off 0.3s forwards;
}

.checkbox input[type=checkbox]:focus + .checkbox-material .check:after {
    opacity: 0.2;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    -webkit-animation: checkbox-on 0.3s forwards;
    animation: checkbox-on 0.3s forwards;
}

.checkbox input[type=checkbox]:not(:checked) + .checkbox-material:before {
    -webkit-animation: rippleOff 500ms;
    animation: rippleOff 500ms;
}

.checkbox input[type=checkbox]:checked + .checkbox-material:before {
    -webkit-animation: rippleOn 500ms;
    animation: rippleOn 500ms;
}

.checkbox input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
    -webkit-animation: rippleOff 500ms forwards;
    animation: rippleOff 500ms forwards;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:after {
    -webkit-animation: rippleOn 500ms forwards;
    animation: rippleOn 500ms forwards;
}

.checkbox input[type=checkbox][disabled]:not(:checked) ~ .checkbox-material .check:before,
.checkbox input[type=checkbox][disabled] + .circle {
    opacity: 0.5;
}

.checkbox input[type=checkbox][disabled] + .checkbox-material .check:after {
    background-color: rgba(0, 0, 0, 0.84);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:after,
.checkbox-default input[type=checkbox]:checked + .checkbox-material .check:after {
    background-color: #337AB7;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before,
.checkbox-default input[type=checkbox]:checked + .checkbox-material .check:before {
    color: #337AB7;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check,
.checkbox-default input[type=checkbox]:checked + .checkbox-material .check {
    color: #337AB7;
}

@-webkit-keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }
    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }
    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }
    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }
    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@-webkit-keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    25% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -4px;
        margin-left: 6px;
        width: 0px;
        height: 0px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
    }
    51% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0px 0px 0 10px inset;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0px 0px 0 0px inset;
    }
}

@keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    25% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -4px;
        margin-left: 6px;
        width: 0px;
        height: 0px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
    }
    51% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0px 0px 0 10px inset;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0 0 0 0,
        0px 0px 0 0px inset;
    }
}

@-webkit-keyframes rippleOn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rippleOn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

.form-horizontal .radio {
    margin-bottom: 10px;
}

.radio label {
    padding-left: 30px;
    position: relative;
}

.radio label span {
    display: block;
    position: absolute;
    left: 10px;
    top: 2px;
    transition-duration: 0.2s;
}

.radio label .circle {
    border: 2px solid #337AB7;
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

.radio label .check {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #337AB7;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
}

.radio label .check:after {
    display: block;
    position: absolute;
    content: "";
    background-color: #337AB7;
    left: -18px;
    top: -18px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1);
    transform: scale3d(1.5, 1.5, 1);
}

.radio label input[type=radio]:not(:checked) ~ .check:after {
    -webkit-animation: rippleOff 500ms;
    animation: rippleOff 500ms;
}

.radio label input[type=radio]:checked ~ .check:after {
    -webkit-animation: rippleOn 500ms;
    animation: rippleOn 500ms;
}

.radio input[type=radio]:checked ~ .check,
.radio-default input[type=radio]:checked ~ .check {
    background-color: #337AB7;
}

.radio input[type=radio]:checked ~ .circle,
.radio-default input[type=radio]:checked ~ .circle {
    border-color: #337AB7;
}

.radio input[type=radio][disabled] ~ .check,
.radio input[type=radio][disabled] ~ .circle {
    opacity: 0.5;
}

.radio input[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

.radio input[type=radio]:checked ~ .check {
    -webkit-transform: scale3d(0.55, 0.55, 1);
    transform: scale3d(0.55, 0.55, 1);
}

.radio input[type=radio][disabled] ~ .circle {
    border-color: rgba(0, 0, 0, 0.84);
}

.radio input[type=radio][disabled] ~ .check {
    background-color: rgba(0, 0, 0, 0.84);
}

@keyframes rippleOn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

fieldset[disabled] .form-control,
.form-control,
fieldset[disabled] .form-control:focus,
.form-control:focus,
fieldset[disabled] .form-control.focus,
.form-control.focus {
    padding: 0;
    float: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

fieldset[disabled] .form-control:disabled,
.form-control:disabled,
fieldset[disabled] .form-control:focus:disabled,
.form-control:focus:disabled,
fieldset[disabled] .form-control.focus:disabled,
.form-control.focus:disabled {
    border-style: dashed;
    border-bottom: 1px solid #757575;
}

fieldset[disabled] .form-control:textarea,
.form-control:textarea {
    height: 40px;
}

select[multiple].form-control,
select[multiple].form-control:focus,
select[multiple].form-control.focus {
    height: 85px;
}

.form-control {
    border: 0;
    background-image: linear-gradient(#337AB7, #337AB7), linear-gradient(#d2d2d2, #d2d2d2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0 ease-out;
}

.form-control::-webkit-input-placeholder {
    color: #bdbdbd;
}

.form-control::-moz-placeholder {
    color: #bdbdbd;
}

.form-control:-ms-input-placeholder {
    color: #bdbdbd;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0);
}

fieldset[disabled] .form-control:disabled,
.form-control-wrapper .form-control:disabled,
.form-control:disabled,
fieldset[disabled] .form-control:focus:disabled,
.form-control-wrapper .form-control:focus:disabled,
.form-control:focus:disabled,
fieldset[disabled] .form-control.focus:disabled,
.form-control-wrapper .form-control.focus:disabled,
.form-control.focus:disabled {
    border: 0;
}

.form-control:focus,
.form-control.focus {
    outline: none;
    background-image: linear-gradient(#337AB7, #337AB7), linear-gradient(#d2d2d2, #d2d2d2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
}

.form-control-wrapper {
    position: relative;
}

.form-control-wrapper .floating-label {
    color: #bdbdbd;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 5px;
    transition: 0.3s ease all;
    opacity: 0;
}

.form-control:focus ~ .form-control-wrapper .floating-label,
.form-control:not(.empty) ~ .form-control-wrapper .floating-label {
    opacity: 1;
}

.form-control-wrapper .floating-label {
    font-size: 14px;
}

.form-control-wrapper .form-control:focus ~ .floating-label,
.form-control-wrapper .form-control:not(.empty) ~ .floating-label {
    top: -9.8px;
    font-size: 9.8px;
}

.form-control-wrapper .input-sm + .floating-label {
    font-size: 12px;
    top: 7px;
}

.form-control-wrapper .form-control.input-sm:focus ~ .floating-label,
.form-control-wrapper .form-control.input-sm:not(.empty) ~ .floating-label {
    top: -8.4px;
    font-size: 8.4px;
}

.form-control-wrapper .input-lg + .floating-label {
    font-size: 18px;
    top: 10px;
}

.form-control-wrapper .form-control.input-lg:focus ~ .floating-label,
.form-control-wrapper .form-control.input-lg:not(.empty) ~ .floating-label {
    top: -12.6px;
    font-size: 12.6px;
}

.form-control-wrapper .form-control:focus ~ .floating-label {
    color: #337AB7;
}

.form-control-wrapper .form-control:not(.empty):invalid ~ .floating-label,
.form-control-wrapper .form-control.focus:invalid ~ .floating-label {
    color: #f44336;
}

.form-control-wrapper .form-control:focus ~ .material-input:after,
.form-control-wrapper .form-control.focus ~ .material-input:after {
    background-color: #337AB7;
}

.form-control-wrapper .form-control:invalid {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#d2d2d2, #d2d2d2);
}

.form-control-wrapper .form-control.empty ~ .floating-label {
    opacity: 1;
}

.form-control-wrapper textarea {
    resize: none;
}

.form-control-wrapper textarea ~ .form-control-highlight {
    margin-top: -11px;
}

.form-control-wrapper .hint {
    position: absolute;
    font-size: 80%;
    display: none;
}

.form-control-wrapper .form-control:focus ~ .hint,
.form-control-wrapper .form-control.focus ~ .hint {
    display: block;
}

.form-control-wrapper select ~ .material-input:after {
    display: none;
}

.form-control-wrapper select {
    appearance: none;
}

.form-group.has-warning .form-control {
    box-shadow: none;
}

.form-group.has-warning .material-input:focus,
.form-group.has-warning .form-control:focus,
.form-group.has-warning .form-control.focus {
    background-image: linear-gradient(#ff5722, #ff5722), linear-gradient(#d2d2d2, #d2d2d2);
    box-shadow: none;
}

.form-group.has-warning .control-label,
.form-group.has-warning input.form-control:focus ~ .floating-label {
    color: #ff5722;
}

.form-group.has-error .form-control {
    box-shadow: none;
}

.form-group.has-error .material-input:focus,
.form-group.has-error .form-control:focus,
.form-group.has-error .form-control.focus {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#d2d2d2, #d2d2d2);
    box-shadow: none;
}

.form-group.has-error .control-label,
.form-group.has-error input.form-control:focus ~ .floating-label {
    color: #f44336;
}

.form-group.has-success .form-control {
    box-shadow: none;
}

.form-group.has-success .material-input:focus,
.form-group.has-success .form-control:focus,
.form-group.has-success .form-control.focus {
    background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#d2d2d2, #d2d2d2);
    box-shadow: none;
}

.form-group.has-success .control-label,
.form-group.has-success input.form-control:focus ~ .floating-label {
    color: #4caf50;
}

.form-group.has-info .form-control {
    box-shadow: none;
}

.form-group.has-info .material-input:focus,
.form-group.has-info .form-control:focus,
.form-group.has-info .form-control.focus {
    background-image: linear-gradient(#03a9f4, #03a9f4), linear-gradient(#d2d2d2, #d2d2d2);
    box-shadow: none;
}

.form-group.has-info .control-label,
.form-group.has-info input.form-control:focus ~ .floating-label {
    color: #03a9f4;
}

.form-group .form-control:focus,
.form-group-default .form-control:focus {
    background-image: linear-gradient(#337AB7, #337AB7), linear-gradient(#d2d2d2, #d2d2d2);
}

.form-group .form-control.focus,
.form-group-default .form-control.focus {
    background-image: linear-gradient(#337AB7, #337AB7), linear-gradient(#d2d2d2, #d2d2d2);
}

.input-group .input-group-addon {
    border: 0;
    background: transparent;
}

.input-group .input-group-btn .btn {
    border-radius: 4px;
    margin: 0;
}

select.form-control {
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

select.form-control:focus,
select.form-control.focus {
    box-shadow: none;
    border-color: #757575;
}

.list-group .list-group-item {
    background-color: transparent;
    overflow: hidden;
    border-radius: 0;
}

.list-group .list-group-item.baseline {
    border-bottom: 1px solid #cecece;
}

.list-group .list-group-item.baseline:last-child {
    border-bottom: none;
}

.list-group .list-group-item .row-content {
    display: inline-block;
    width: calc(100% - 92px);
    min-height: 66px;
}

.list-group .list-group-item .row-content .action-secondary {
    position: absolute;
    right: 16px;
    top: 16px;
}

.list-group .list-group-item .row-content .action-secondary i {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.list-group .list-group-item .row-content .action-secondary ~ * {
    max-width: calc(100% - 30px);
}

.list-group .list-group-item .row-content .least-content {
    position: absolute;
    right: 16px;
    top: 0px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}

.list-group .list-group-item .list-group-item-heading {
    color: rgba(0, 0, 0, 0.77);
    font-size: 20px;
    line-height: 29px;
}

.list-group .list-group-item.active:hover,
.list-group .list-group-item.active:focus {
    background: rgba(0, 0, 0, 0.15);
    outline: 10px solid rgba(0, 0, 0, 0.15);
}

.list-group .list-group-item.active .list-group-item-heading,
.list-group .list-group-item.active .list-group-item-text {
    color: rgba(0, 0, 0, 0.84);
}

.list-group .list-group-separator {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-group .list-group-separator:before {
    content: "";
    width: calc(100% - 90px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
}

.nav-tabs {
    background: #337AB7;
}

.nav-tabs > li > a {
    color: #FFFFFF;
    border: 0;
    margin: 0;
}

.nav-tabs > li > a:hover {
    background-color: transparent;
    border: 0;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: transparent !important;
    border: 0 !important;
    color: #FFFFFF !important;
    font-weight: 500;
}

.nav-tabs > li.disabled > a,
.nav-tabs > li.disabled > a:hover {
    color: rgba(255, 255, 255, 0.5);
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: 0;
}

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -ms-touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.noUi-stacking .noUi-handle {
    z-index: 10;
}

.noUi-stacking + .noUi-origin {
    *z-index: -1;
}

.noUi-state-tap .noUi-origin {
    transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

.noUi-horizontal {
    height: 10px;
}

.noUi-handle {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    left: -10px;
    top: -5px;
    cursor: ew-resize;
    border-radius: 100%;
    transition: all 0.2s ease-out;
    border: 1px solid;
}

.noUi-vertical .noUi-handle {
    margin-left: 5px;
    cursor: ns-resize;
}

.noUi-horizontal.noUi-extended {
    padding: 0 15px;
}

.noUi-horizontal.noUi-extended .noUi-origin {
    right: -15px;
}

.noUi-background {
    height: 2px;
    margin: 20px 0;
}

.noUi-origin {
    margin: 0;
    border-radius: 0;
    height: 2px;
    background: #c8c8c8;
}

.noUi-origin[style^="left: 0"] .noUi-handle {
    background-color: #fff;
    border: 2px solid #c8c8c8;
}

.noUi-origin[style^="left: 0"] .noUi-handle.noUi-active {
    border-width: 1px;
}

.noUi-target {
    border-radius: 2px;
}

.noUi-horizontal {
    height: 2px;
    margin: 15px 0;
}

.noUi-vertical {
    height: 100%;
    width: 2px;
    margin: 0 15px;
    display: inline-block;
}

.noUi-handle.noUi-active {
    -webkit-transform: scale3d(2.5, 2.5, 1);
    transform: scale3d(2.5, 2.5, 1);
}

[disabled].noUi-slider {
    opacity: 0.5;
}

[disabled] .noUi-handle {
    cursor: not-allowed;
}

.shadow-z-1 {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.shadow-z-1-hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.shadow-z-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-z-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.shadow-z-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.shadow-z-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/*# sourceMappingURL=material.css.map */