body {
    background-color: #EEE;
}

main {
    background-color: #F9F9F9;
    padding-bottom: 40px;
}

.navbar {
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
    z-index: 500;
}

.navbar-nav {
    margin: 0;
}

.navbar-inverse {
    background-color: #337AB7;
    border-color: #226AA7;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #226AA7;
}

#navbar-submenu-wrapper {
    height: 50px;
    margin-bottom: 30px;
}

#navbar-submenu {
    background-color: #FBFBFB;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #E7E7E7;
    z-index: 300;

}

.navbar-brand {
    font-family: 'LatoThin', sans-serif;
    font-size: 23px;
    height: 47px;
}

#navbar-submenu li > span {
    display: block;
    padding: 15px 15px 10px;
}

#navbar-submenu li a:hover {
    background-color: #eee;
}

#navbar-submenu.affix {
    z-index: 10;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #226AA7;
}

.navbar-inverse .navbar-toggle {
    border-color: #226AA7;
    z-index: 4000;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: #eee;
}

.successelement {
    visibility: hidden;
}

.panel-primary {
    border-bottom: 2px solid #337AB7;
}

.panel .list-group-item:last-child {
    margin-bottom: -1px;
}

.panel-action-bar {
    position: relative;
    top: -19px;
}

.panel-action-bar a {
    color: #FFF;
}

.panel-action-bar a .fa {
    font-size: 1.5em;
    margin-left: 8px;
}

.panel-action-bar .collapsed .fa-compress:before {
    content: "\f065";
}

.input-group .form-control {
    -webkit-appearance: none;
}

.row.list-group-item {
    margin-left: 0;
    margin-right: 0;
    padding: 8px 0;
}

.actions .btn {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.26);
}

.btn-default {
    color: #337AB7;
    border-color: #73BAF7;
}

.btn-default:hover {
    color: #236AA7;
    border-color: #438AC7;
}

.btn.disabled {
    color: #CCC;
}

.actions .btn:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.26);
}

.actions .btn.disabled:hover{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.26);
}

.row.list-group-item .form-group {
    margin-bottom: 5px;
}

.postering.list-group {
    margin-bottom: 0;
}

.pur-dropdown select {
    background: none;
    -moz-appearance: none;
}

.pur-dropdown .input-group-addon:last-child {
    border: none;
    position: absolute;
    right: 18px;
    z-index: 0;
    top: 9px;
    width: 0;
    height: 0;
    padding: 0;
}

.panel-heading,
.panel,
.navbar-toggle,
.btn,
.alert,
.form-control,
.input-group-addon,
.list-group-item:last-child,
.list-group-item:first-child,
.nav-tabs > li > a,
.navbar-nav > li > .dropdown-menu,
.dropdown-menu,
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child),
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.tooltip div {
    border-radius: 0;
}

.row.list-group-item {
    margin-top: -1px;
}

.list-group-item {
 /*   padding: 0px 15px; */
}

.list-group-item .row div {

}

.list-group-item .actions{
    border-left: 1px solid #DDD;
}

.panel-heading .actions{
    border-left: 1px solid #135A97;
}

.bilag .alert {
    display: none;
}

blockquote.bq-info {
    color: #31708F;
    border: 1px solid #EEE;
    border-left:5px solid #337AB7;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

footer {
    border-top: 1px solid #E7E7E7;
    padding-top: 20px;
    padding-bottom: 20px;

}

.btn.disabled {
    pointer-events: stroke;
}

@media (max-width: 992px) {
    .row.list-group-item .form-group {
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    #submenu {
        display: block !important;
        visibility: visible !important;
        position: absolute;
        top: -1px;
    }

    #navbar-submenu .navbar-nav {
        float: left;
        margin: 0;
    }

    #navbar-submenu .collapse:before,
    #navbar-submenu .nav:before {
        content: none;
    }

    #navbar-submenu li, #navbar-submenu li a {
        display: inline-block;
    }

    #navbar-submenu li a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #navbar-submenu .navbar-toggle {
        display: none;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #EEE;
    }

    .dropdown-menu > li > a {
        font-weight: 300;
    }

    .navbar-nav .open .dropdown-menu li:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .open > .dropdown-menu {
        margin: 0;
    }

    .dropdown-menu > li > a {
        padding: 5px 20px;
    }
}

@media (max-width: 675px) {
    #navbar-submenu li a {
        padding-top: 9px;
        padding-bottom: 9px;
        margin-top: 3px;
        border: 1px solid #ddd;
        font-size: 1.3em;
    }
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: 400;
    background: url(http://pur.app/images/loading-animation.gif) center no-repeat #fff;
}

.panel.collapse .list-group{
    visibility: hidden;
}

.panel.collapse.in .list-group {
    visibility: visible;
}