
.ajax-success {
    color: green;
    visibility: hidden;
}

.panel-action-bar {
    position: relative;
    top: -19px;
}

.panel-action-bar a{
    color: #FFF;
}

.panel-action-bar a .fa{
    font-size: 1.5em;
    margin-left: 8px;
}

.panel-action-bar .collapsed .fa-compress:before{
    content: "\f065";
}

.input-group .form-control{
    -webkit-appearance: none;
}
/*
.input-group-addon, .form-control {
    padding: 6px 6px;
    font-size: 12px;
}*/

.row.list-group-item {
    margin-left: 0;
    margin-right: 0;
    padding: 8px 0;
}

.row.list-group-item .form-group {
    margin-bottom: 5px;
}


.pur-dropdown select {
    background: none;
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
}
.pur-dropdown .input-group-addon:last-child {
    border: none;
    position: absolute;
    right: 18px;
    z-index: 0;
    top: 9px;
    width: 0;
    height: 0;
    padding: 0;
}

@media (max-width: 992px) {
    .row.list-group-item .form-group {
        margin-bottom: 10px;
    }
}