$font: "robotoregular", Helvetica, Arial, sans-serif;

$infoblue: #03a9f4;

$white: #FFFFFF;

$default: #F8F8F8;
$default-border: #D3D3D3;
$default-hover: #F0F0F0;
$default-hover-border: #C6C6C6;

$gray: #777;
$dark-gray: #333;

// Red
$red: #f44336; // 500
$red-hover: #EF5350; // 400
$red-border: #E53935; // 600
$red-hover-border: #C62828; // 800


// Orange
$orange: #FF9800; // 500
$orange-hover: #FFA726; // 400
$orange-border: #FB8C00; // 600
$orange-hover-border: #EF6C00; // 800

// Green
$green: #4caf50; // 500
$green-hover: #66BB6A; // 400
$green-border: #43A047; // 600
$green-hover-border: #2E7D32; // 800

// Light Green
$succes-bg: #CCFF90; //A100


// Yellow
$yellow-bg: #FFFF8D;



// Indigo
$blue: #3F51B5; // 500
$blue-hover: #5C6BC0; // 400
$blue-border: #3949AB; // 600
$blue-hover-border: #283593; // 800
$blue-bg: #E8EAF6;
$darkblue: #3174e3;