
fieldset[disabled] .form-control,
.form-control,
fieldset[disabled] .form-control:focus,
.form-control:focus,
fieldset[disabled] .form-control.focus,
.form-control.focus {
  float: none;
  box-shadow: none;
}

fieldset[disabled] textarea.form-control,
textarea.form-control {
  height: 40px;
}

select[multiple].form-control,
select[multiple].form-control:focus,
select[multiple].form-control.focus {
  height: 85px;
}

.form-inline {
  display: inline-block;
}

.form-control {
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  background-color: $white;
  transition: inherit;
  border-radius: 2px;
}

.form-control::-webkit-input-placeholder {
  color: #bdbdbd;
}

.form-control::-moz-placeholder {
  color: #bdbdbd;
}

.form-control:-ms-input-placeholder {
  color: #bdbdbd;
}

.form-control[disabled],
fieldset[disabled] .form-control {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}

.form-control[readonly]{
  background-color: $default-hover;
  cursor: text;
}

fieldset[disabled] .form-control:disabled,
.form-control-wrapper .form-control:disabled,
.form-control:disabled,
fieldset[disabled] .form-control:focus:disabled,
.form-control-wrapper .form-control:focus:disabled,
.form-control:focus:disabled,
fieldset[disabled] .form-control.focus:disabled,
.form-control-wrapper .form-control.focus:disabled,
.form-control.focus:disabled {
  background-color: $default-hover;
}

.form-control:focus,
.form-control.focus {
  outline: none;
  transition-duration: 0.3s;
}

.form-control-wrapper {
  position: relative;
  .floating-label {
    font-size: 14px;
    color: #bdbdbd;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 5px;
    transition: 0.3s ease all;
    opacity: 0;
  }
  .input-sm + .floating-label {
    font-size: 12px;
    top: 7px;
  }
  .form-control:focus ~ .floating-label,
  .form-control:not(.empty) ~ .floating-label {
    top: -9.8px;
    font-size: 9.8px;
  }
  .form-control.input-sm:focus ~ .floating-label,
  .form-control.input-sm:not(.empty) ~ .floating-label {
    top: -8.4px;
    font-size: 8.4px;
  }
  .input-lg + .floating-label {
    font-size: 18px;
    top: 10px;
  }
  .form-control.input-lg:focus ~ .floating-label,
  .form-control.input-lg:not(.empty) ~ .floating-label {
    top: -12.6px;
    font-size: 12.6px;
  }
  .form-control:focus ~ .floating-label {
    color: $blue;
  }
}

.form-control:focus ~ .form-control-wrapper .floating-label,
.form-control:not(.empty) ~ .form-control-wrapper .floating-label {
  opacity: 1;
}

.form-control-wrapper .form-control:not(.empty):invalid ~ .floating-label,
.form-control-wrapper .form-control.focus:invalid ~ .floating-label {
  color: $red;
}

.form-control-wrapper .form-control:focus ~ .material-input:after,
.form-control-wrapper .form-control.focus ~ .material-input:after {
  background-color: $blue;
}

.form-control-wrapper .form-control:invalid {
  background-image: linear-gradient($red, $red), linear-gradient(#d2d2d2, #d2d2d2);
}

.form-control-wrapper .form-control.empty ~ .floating-label {
  opacity: 1;
}

textarea {
  resize: none;
}

.form-control-wrapper textarea ~ .form-control-highlight {
  margin-top: -11px;
}

.form-control-wrapper .hint {
  position: absolute;
  font-size: 80%;
  display: none;
}

.form-control-wrapper .form-control:focus ~ .hint,
.form-control-wrapper .form-control.focus ~ .hint {
  display: block;
}

.form-control-wrapper select ~ .material-input:after {
  display: none;
}

.form-control-wrapper select {
  appearance: none;
}

.form-group.has-warning .form-control {
  box-shadow: none;
}

.form-group.has-warning .material-input:focus,
.form-group.has-warning .form-control:focus,
.form-group.has-warning .form-control.focus {
  background-image: linear-gradient($orange, $orange), linear-gradient(#d2d2d2, #d2d2d2);
  box-shadow: none;
}

.form-group.has-warning .control-label,
.form-group.has-warning input.form-control:focus ~ .floating-label {
  color: $orange;
}

.form-group.has-error .form-control {
  box-shadow: none;
}

.form-group.has-error .material-input:focus,
.form-group.has-error .form-control:focus,
.form-group.has-error .form-control.focus {
  background-image: linear-gradient($red, $red), linear-gradient(#d2d2d2, #d2d2d2);
  box-shadow: none;
}

.form-group.has-error .control-label,
.form-group.has-error input.form-control:focus ~ .floating-label {
  color: $red;
}

.form-group.has-success .form-control {
  box-shadow: none;
}

.form-group.has-success .material-input:focus,
.form-group.has-success .form-control:focus,
.form-group.has-success .form-control.focus {
  background-image: linear-gradient($green, $green), linear-gradient(#d2d2d2, #d2d2d2);
  box-shadow: none;
}

.form-group.has-success .control-label,
.form-group.has-success input.form-control:focus ~ .floating-label {
  color: $green;
}



.form-group.has-info .material-input:focus,
.form-group.has-info .form-control:focus,
.form-group.has-info .form-control.focus {
  background-image: linear-gradient($infoblue, $infoblue), linear-gradient(#d2d2d2, #d2d2d2);
}

.form-group.has-info .control-label,
.form-group.has-info input.form-control:focus ~ .floating-label {
  color: #03a9f4;
}





label.focused{
  color: $blue;
}


.input-group {
  .input-group-addon {
    border: 0;
    background: transparent;
  }
  .input-group-btn .btn {
    border-radius: 4px;
    margin: 0;
  }
  .input-group-addon.focused{
    color: $blue;
  }
  .form-control{
    z-index: 0;
  }
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active{
  background-color: $default-disabled;
  border-color: $default-disabled-border;
  color: $default-disabled-color;
  opacity: .8;
}

select.form-control:focus,
select.form-control.focus {
  border-color: $blue;
}

.input-group .form-control {
  -webkit-appearance: none;
}

.row.list-group-item .form-group {
  margin-bottom: 5px;
}

.pur-dropdown select {
  -moz-appearance: none;
}

.pur-dropdown .input-group-addon:last-child {
  border: none;
  position: absolute;
  right: 18px;
  z-index: 0;
  top: 9px;
  width: 0;
  height: 0;
  padding: 0;
}

.posteringVis span {
  color: #555;
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
   border-radius: 2px;
}