.list-group {
  .list-group-item {
    background-color: transparent;
    overflow: hidden;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #EEE;
    .row-content {
      display: inline-block;
      width: calc(100% - 92px);
      min-height: 66px;
      .action-secondary {
        position: absolute;
        right: 16px;
        top: 16px;
        i {
          font-size: 20px;
          color: rgba(0, 0, 0, 0.25);
          cursor: pointer;
        }
      }
      .action-secondary ~ * {
        max-width: calc(100% - 30px);
      }
      .least-content {
        position: absolute;
        right: 16px;
        top: 0px;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
      }
    }
    .list-group-item.baseline {
      border-bottom: 1px solid #cecece;
    }
    .list-group-item.baseline:last-child {
      border-bottom: none;
    }
    .list-group-item-heading {
      color: rgba(0, 0, 0, 0.77);
      font-size: 20px;
      line-height: 29px;
    }
    .actions {
      border-left: 1px solid #EEE;
    }
  }
  .list-group-separator {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .list-group-separator:before {
    content: "";
    width: calc(100% - 90px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
  }
}

  .postering.list-group {
    margin-bottom: 0;
  }

  .panel-heading .actions {
    border-left: 1px solid $blue;
  }

  .panel.collapse .list-group {
    visibility: hidden;
  }

  .panel.collapse.in .list-group {
    visibility: visible;
  }

  @media (max-width: 992px) {
    .row.list-group-item .form-group {
      margin-bottom: 10px;
    }
  }

