a.disabled {
  cursor: not-allowed;
  opacity: .5;

}


#navbar-submenu li a.disabled:hover {
  background-color: inherit;
  color: $gray;
  opacity: .5;
}

blockquote.bq-info {
  color: $blue;
  border: 1px solid #EEE;
  border-left: 5px solid $blue;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: $default;
}

.fa {
  font-size: 16px;
}

#navbar-submenu #ajax-success {
  display: none;
  padding: 14px 20px 5px 20px;
  .ajax-success-text {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    color: #777;
  }
  .ajax-success-animation {
    background-size: 100%;
    width: 20px;
    height: 20px;
    padding: 0px;
    display: none;
  }
}

#navbar-submenu #ajax-success.saving {
  .ajax-success-animation {
    display: inline-block;
  }
  .ajax-success-text {
    color: $blue;
  }
}

.progress-bar {
  background-color: $green;
  min-width: 2em;
}

footer {
  border-top: 1px solid #E7E7E7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.loading {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: .8;
  z-index: 400;
}

.bilag .alert {
  display: none;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: $blue;
  border-color: $blue-border;
}

.pagination > li > a, .pagination > li > span {
  color: $dark-gray;
  background-color: $default;
  border: 1px solid $default-border;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {

  background-color: $default-hover;
  border-color: $default-hover-border;
}

.flash {
  display: none;
  position: fixed;
  padding: 14px 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  max-width: 100%;
  -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
  transform: translate3d(0, 0, 0) rotateZ(0deg);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #323232;
  color: #FAFAFA;
  bottom: 10px;
  left: 10px;
  p {
    padding: 0;
    margin: 0;
  }
}
