
.form-horizontal .radio {
  margin-bottom: 10px;
}

.radio {
  label {
    padding-left: 30px;
    position: relative;
    span {
      display: block;
      position: absolute;
      left: 10px;
      top: 2px;
      transition-duration: 0.2s;
    }
    .circle{
      border: 2px solid $blue;
      height: 15px;
      width: 15px;
      border-radius: 100%;
    }
    .check{
      height: 15px;
      width: 15px;
      border-radius: 100%;
      background-color: $blue;
      -webkit-transform: scale3d(0, 0, 0);
      transform: scale3d(0, 0, 0);
    }
    .check:after{
      display: block;
      position: absolute;
      content: "";
      background-color: $blue;
      left: -18px;
      top: -18px;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      z-index: 1;
      opacity: 0;
      margin: 0;
      -webkit-transform: scale3d(1.5, 1.5, 1);
      transform: scale3d(1.5, 1.5, 1);
    }
  }
}




.radio label input[type=radio]:not(:checked) ~ .check:after {
  -webkit-animation: rippleOff 500ms;
  animation: rippleOff 500ms;
}

.radio label input[type=radio]:checked ~ .check:after {
  -webkit-animation: rippleOn 500ms;
  animation: rippleOn 500ms;
}

.radio input[type=radio]:checked ~ .check,
.radio-default input[type=radio]:checked ~ .check {
  background-color: $blue;
}

.radio input[type=radio]:checked ~ .circle,
.radio-default input[type=radio]:checked ~ .circle {
  border-color: $blue;
}

.radio input[type=radio][disabled] ~ .check,
.radio input[type=radio][disabled] ~ .circle {
  opacity: 0.5;
}

.radio input[type=radio] {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.radio input[type=radio]:checked ~ .check {
  -webkit-transform: scale3d(0.55, 0.55, 1);
  transform: scale3d(0.55, 0.55, 1);
}

.radio input[type=radio][disabled] ~ .circle {
  border-color: rgba(0, 0, 0, 0.84);
}

.radio input[type=radio][disabled] ~ .check {
  background-color: rgba(0, 0, 0, 0.84);
}